<!-- <div
  class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4"
>
  <div class="flex flex-col lg:flex-row justify-between gap-8">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
      <h1
        class="text-6xl lg:text-7xl font-bold leading-9 text-gray-800 dark:text-white pb-4"
      >
        About Us
      <+/h1>
      <p class="font-normal text-2xl leading-9 text-gray-600 dark:text-white">
        Welcome to Uptown Jackson Revitalization Organization. Our vision as an
        organization is to reflect that we are a vibrant, bustling,
        pedestrian-oriented community. We offer a variety of activities and
        experiences that support existing businesses and attract new ones while
        drawing visitors as well as past and present residents. We strive to
        preserve the character of an outstanding community with unique qualities
        to be treasured, occasionally polished, and frequently put on display.
      </p>
    </div>
    <div class="w-full lg:w-8/12">
      <img
        class="w-full h-full"
        src="https://static.wixstatic.com/media/0c8614_83eb39829538470187bf85c2b82ce7ef~mv2_d_1208_2251_s_2.jpg/v1/crop/x_0,y_320,w_1208,h_1611/fill/w_1116,h_1450,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/20170906_175440_edited_edited.jpg"
        alt="Uptown"
      />
    </div>
  </div>
  <div class="flex">
    <div class="w-full lg:pt-8">
      <h1
        class="text-3xl lg:text-5xl font-bold mt-16 leading-15 text-gray-800 dark:text-white pb-4"
      >
        Board of Directors
      </h1>
      <div
        class="w-full grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md"
      >
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="/assets/HunterWilliams.webp"
            alt="Hunter Williams"
          />
          <img
            class="md:hidden block"
            src="/assets/HunterWilliams.webp"
            alt="Hunter Williams"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Hunter Williams
          </p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="/assets/ScottGivens.webp"
            alt="Scott Givens"
          />
          <img
            class="md:hidden block"
            src="/assets/ScottGivens.webp"
            alt="Scott Givens"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Scott Givens
          </p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="/assets/NataliePannier.webp"
            alt="Natalie Pannier"
          />
          <img
            class="md:hidden block"
            src="/assets/NataliePannier.webp"
            alt="Natalie Pannier"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Natalie Pannier
          </p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="/assets/MadisonBoeller.webp"
            alt="Madison Boeller"
          />
          <img
            class="md:hidden block"
            src="/assets/MadisonBoeller.webp"
            alt="Madison Boeller"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Madison Boeller
          </p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="/assets/PaulSander.webp"
            alt="Paul Sander"
          />
          <img
            class="md:hidden block"
            src="/assets/PaulSander.webp"
            alt="Paul Sander"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Paul Sander/p>
          </p>
        </div>

        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="assets/MikeSeabaugh.webp"
            alt="Mike Seabaugh"
          />
          <img
            class="md:hidden block"
            src="assets/MikeSeabaugh.webp"
            alt="Mike Seabaugh"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Mike Seabaugh
          </p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="/assets/TinaWeber.webp"
            alt="Tina Weber"
          />
          <img
            class="md:hidden block"
            src="/assets/TinaWeber.webp"
            alt="Tina Weber"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Tina Weber
          </p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="/assets/BrianThompson.webp"
            alt="Brian Thompson"
          />
          <img
            class="md:hidden block"
            src="/assets/BrianThompson.webp"
            alt="Brian Thompson"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Brian Thompson
          </p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="/assets/KathyJansen.webp"
            alt="Kathy Jansen"
          />
          <img
            class="md:hidden block"
            src="/assets/KathyJansen.webp"
            alt="Kathy Jansen"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Kathy Jansen
          </p>
        </div>

      </div>
    </div>
    <div class="flex flex-col gap-8 pt-12">
      <div class="flex flex-col justify-center">
        <h1
          class="text-3xl lg:text-5xl font-bold leading-9 text-gray-800 dark:text-white pb-4"
        >
          Our Story
        </h1>
        <p class="font-normal text-lg leading-7 text-gray-600 dark:text-white">
          Jackson History... Jackson began in 1814 as a settlement on the
          elevated land between Hubble and Goose Creeks. Not yet known as
          Jackson, the original site was selected for the county seat of the
          newly named Cape Girardeau County. A delegation of five men were
          selected to negotiate the purchase of a fifty-acre site from William
          H. Ashley and his wife Mary (nee, Able) for $500. The pioneer families
          living in the area debated what to name the new seat of justice.
          Ashley? Lorimier? Many favored naming the town in honor of General
          Andrew Jackson. At an Independence Day celebration the name Jackson
          was selected, and by December, 1814, lots were being sold. Almost
          immediately Jackson outgrew the 50 acres and additional land began
          being added. ​ In 1818 a federal land office was established and the
          first courthouse, a two-story frame structure, was built. Jackson then
          had a population of 300 and supported five stores, two shoemakers, and
          a tannery. In 1819 the first newspaper in Southeast Missouri, the
          Missouri Herald, was published in Jackson. In 1877 Jackson was linked
          to Cape Girardeau by the first long distance telephone service line in
          Missouri. From these humble beginnings, Jackson has grown in all
          directions from the courthouse square to a current population of over
          15,000 and an area more than 7,000 acres. The history does not end
          there. Today’s growth is forging tomorrow’s history as Jackson
          continues to grow and prosper.
        </p>
      </div>
    </div>
  </div>
</div> -->
<nav></nav>
<div class="header"></div>

<div class="container">
  <div class="about">
    <div class="left">
      <h1>About us</h1>
      <hr />
      <p>
        Our vision as an organization is to reflect that we are a vibrant,
        bustling, pedestrian-oriented community. We offer a variety of
        activities and experiences that support existing businesses and attract
        new ones while drawing visitors as well as past and present residents.
        We strive to preserve the character of an outstanding community with
        unique qualities to be treasured, occasionally polished, and frequently
        put on display.
      </p>
    </div>
    <div class="right">
      <img
        src="https://scontent-ord5-1.xx.fbcdn.net/v/t1.18169-9/10731206_706801306077353_4126408673188234890_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=19026a&_nc_ohc=3lI4aj97cbUAX_ZShZm&_nc_ht=scontent-ord5-1.xx&oh=00_AfAYpqe8iHphIo4mMmQTdhRhOO9P1pRbo_nOfrwzXWDm4w&oe=6494F2A1"
      />
    </div>
    <div class="clear"></div>
  </div>

  <div class="mission">
    <div class="left">
      <img
        src="https://static.wixstatic.com/media/0c8614_83eb39829538470187bf85c2b82ce7ef~mv2_d_1208_2251_s_2.jpg/v1/crop/x_0,y_320,w_1208,h_1611/fill/w_1116,h_1450,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/20170906_175440_edited_edited.jpg"
      />
    </div>
    <div class="right">
      <h1>Jackson History...</h1>
      <hr />
      <p>
        Jackson began in 1814 as a settlement on the elevated land between
        Hubble and Goose Creeks. Not yet known as Jackson, the original site was
        selected for the county seat of the newly named Cape Girardeau County. A
        delegation of five men were selected to negotiate the purchase of a
        fifty-acre site from William H. Ashley and his wife Mary (nee, Able) for
        $500. The pioneer families living in the area debated what to name the
        new seat of justice. Ashley? Lorimier? Many favored naming the town in
        honor of General Andrew Jackson. At an Independence Day celebration the
        name Jackson was selected, and by December, 1814, lots were being sold.
        Almost immediately Jackson outgrew the 50 acres and additional land
        began being added.
      </p>

      <p>
        In 1818 a federal land office was established and the first courthouse,
        a two-story frame structure, was built. Jackson then had a population of
        300 and supported five stores, two shoemakers, and a tannery. In 1819
        the first newspaper in Southeast Missouri, the Missouri Herald, was
        published in Jackson. In 1877 Jackson was linked to Cape Girardeau by
        the first long distance telephone service line in Missouri. From these
        humble beginnings, Jackson has grown in all directions from the
        courthouse square to a current population of over 15,000 and an area
        more than 7,000 acres. The history does not end there. Today’s growth is
        forging tomorrow’s history as Jackson continues to grow and prosper.
      </p>
    </div>
    <div class="clear"></div>
  </div>

  <!-- <div class="team"> -->
  <!-- <h1>
      Board of Directors
      <hr />
    </h1>

    <div class="card">
      <div class="circle-container">
        <h1 style="color: #fff">M</h1>
      </div>
      <h2>Mahesh E U</h2>
      <h4>Technical Lead</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
        dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>

    <div class="card">
      <div class="circle-container">
        <h1 style="color: #fff">M</h1>
      </div>
      <h2>Mridul</h2>
      <h4>Evangelist</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
        dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>

    <div class="card">
      <div class="circle-container">
        <h1 style="color: #fff">R</h1>
      </div>
      <h2>Rajesh</h2>
      <h4>Evangelist</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
        dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>

    <div class="card">
      <div class="circle-container">
        <h1 style="color: #fff">B</h1>
      </div>
      <h2>Bharti</h2>
      <h4>Evangelist</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
        dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>

    <div class="card">
      <div class="circle-container">
        <h1 style="color: #fff">A</h1>
      </div>
      <h2>Anhsuman</h2>
      <h4>Advisor</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
        dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>

    <div class="card">
      <div class="circle-container">
        <h1 style="color: #fff">S</h1>
      </div>
      <h2>Shruti</h2>
      <h4>Advisor</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum
        dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
  </div>
</div> -->
</div>
<div class="flex">
  <div class="w-full lg:pt-8">
    <h1
      class="text-3xl lg:text-5xl font-bold mt-16 leading-15 text-gray-800 dark:text-black pb-4"
    >
      Board of Directors
    </h1>
    <div
      class="w-full grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md"
    >
      <div class="flex flex-col" *ngFor="let director of boardOfDirectors">
        <img
          class="rounded-lg shadow-md h-full"
          [src]="director.image"
          alt=""
        />
        <h2>{{ director.name }}</h2>
        <h3>{{ director.role }}</h3>
      </div>
      <!-- <div class="p-4 pb-6 flex justify-center flex-col items-center"> -->

      <!-- <img
          class="md:block hidden"
          src="/assets/HunterWilliams.webp"
          alt="Hunter Williams"
        />
        <img
          class="md:hidden block"
          src="/assets/HunterWilliams.webp"
          alt="Hunter Williams"
        />
        <p
          class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4"
        >
          Hunter Williams
        </p>
      </div>
      <div class="p-4 pb-6 flex justify-center flex-col items-center">
        <img
          class="md:block hidden"
          src="/assets/ScottGivens.webp"
          alt="Scott Givens"
        />
        <img
          class="md:hidden block"
          src="/assets/ScottGivens.webp"
          alt="Scott Givens"
        />
        <p
          class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4"
        >
          Scott Givens
        </p>
      </div>
      <div class="p-4 pb-6 flex justify-center flex-col items-center">
        <img
          class="md:block hidden"
          src="/assets/NataliePannier.webp"
          alt="Natalie Pannier"
        />
        <img
          class="md:hidden block"
          src="/assets/NataliePannier.webp"
          alt="Natalie Pannier"
        />
        <p
          class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4"
        >
          Natalie Pannier
        </p>
      </div>
      <div class="p-4 pb-6 flex justify-center flex-col items-center">
        <img
          class="md:block hidden"
          src="/assets/MadisonBoeller.webp"
          alt="Madison Boeller"
        />
        <img
          class="md:hidden block"
          src="/assets/MadisonBoeller.webp"
          alt="Madison Boeller"
        />
        <p
          class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4"
        >
          Madison Boeller
        </p>
      </div>
      <div class="p-4 pb-6 flex justify-center flex-col items-center">
        <img
          class="md:block hidden"
          src="/assets/PaulSander.webp"
          alt="Paul Sander"
        />
        <img
          class="md:hidden block"
          src="/assets/PaulSander.webp"
          alt="Paul Sander"
        />
        <p
          class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4"
        >
          Paul Sander/p>
        </p>
      </div>

      <div class="p-4 pb-6 flex justify-center flex-col items-center">
        <img
          class="md:block hidden"
          src="assets/MikeSeabaugh.webp"
          alt="Mike Seabaugh"
        />
        <img
          class="md:hidden block"
          src="assets/MikeSeabaugh.webp"
          alt="Mike Seabaugh"
        />
        <p
          class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4"
        >
          Mike Seabaugh
        </p>
      </div>
      <div class="p-4 pb-6 flex justify-center flex-col items-center">
        <img
          class="md:block hidden"
          src="/assets/TinaWeber.webp"
          alt="Tina Weber"
        />
        <img
          class="md:hidden block"
          src="/assets/TinaWeber.webp"
          alt="Tina Weber"
        />
        <p
          class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4"
        >
          Tina Weber
        </p>
      </div>
      <div class="p-4 pb-6 flex justify-center flex-col items-center">
        <img
          class="md:block hidden"
          src="/assets/BrianThompson.webp"
          alt="Brian Thompson"
        />
        <img
          class="md:hidden block"
          src="/assets/BrianThompson.webp"
          alt="Brian Thompson"
        />
        <p
          class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4"
        >
          Brian Thompson
        </p>
      </div>
      <div class="p-4 pb-6 flex justify-center flex-col items-center">
        <img
          class="md:block hidden"
          src="/assets/KathyJansen.webp"
          alt="Kathy Jansen"
        />
        <img
          class="md:hidden block"
          src="/assets/KathyJansen.webp"
          alt="Kathy Jansen"
        />
        <p
          class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4"
        >
          Kathy Jansen
        </p>

        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img
            class="md:block hidden"
            src="/assets/JannaClifton.webp"
            alt="Janna Clifton"
          />
          <img
            class="md:hidden block"
            src="/assets/JannaClifton.webp"
            alt="Janna Clifton"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4"
          >
            Janna Clifton
          </p>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
