<div class="container">
  <div class="about">
    <div class="left">
      <h1>About us</h1>
      <hr />
      <p>
        Our vision as an organization is to reflect that we are a vibrant,
        bustling, pedestrian-oriented community. We offer a variety of
        activities and experiences that support existing businesses and attract
        new ones while drawing visitors as well as past and present residents.
        We strive to preserve the character of an outstanding community with
        unique qualities to be treasured, occasionally polished, and frequently
        put on display.
      </p>
    </div>
    <div class="right">
      <img
        class="rounded-lg shadow-md"
        src="https://gray-kfvs12-prod.cdn.arcpublishing.com/resizer/gjr666_IVTfMezSaCJcxMvIbV-w=/1200x675/smart/filters:quality(85)/cloudfront-us-east-1.images.arcpublishing.com/gray/L6CJLTY5KNEG7NDP4QHHW7C6VA.jpg"
      />
    </div>
    <div class="clear"></div>
  </div>

  <div class="mission">
    <div class="left">
      <img
        class="rounded-lg shadow-md"
        src="https://static.wixstatic.com/media/0c8614_83eb39829538470187bf85c2b82ce7ef~mv2_d_1208_2251_s_2.jpg/v1/crop/x_0,y_320,w_1208,h_1611/fill/w_1116,h_1450,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/20170906_175440_edited_edited.jpg"
      />
    </div>
    <div class="right">
      <h1>Jackson History...</h1>
      <hr />
      <p>
        Jackson began in 1814 as a settlement on the elevated land between
        Hubble and Goose Creeks. Not yet known as Jackson, the original site was
        selected for the county seat of the newly named Cape Girardeau County. A
        delegation of five men were selected to negotiate the purchase of a
        fifty-acre site from William H. Ashley and his wife Mary (nee, Able) for
        $500. The pioneer families living in the area debated what to name the
        new seat of justice. Ashley? Lorimier? Many favored naming the town in
        honor of General Andrew Jackson. At an Independence Day celebration the
        name Jackson was selected, and by December, 1814, lots were being sold.
        Almost immediately Jackson outgrew the 50 acres and additional land
        began being added.
      </p>

      <p>
        In 1818 a federal land office was established and the first courthouse,
        a two-story frame structure, was built. Jackson then had a population of
        300 and supported five stores, two shoemakers, and a tannery. In 1819
        the first newspaper in Southeast Missouri, the Missouri Herald, was
        published in Jackson. In 1877 Jackson was linked to Cape Girardeau by
        the first long distance telephone service line in Missouri. From these
        humble beginnings, Jackson has grown in all directions from the
        courthouse square to a current population of over 15,000 and an area
        more than 7,000 acres. The history does not end there. Today’s growth is
        forging tomorrow’s history as Jackson continues to grow and prosper.
      </p>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="flex">
  <div class="w-full lg:pt-8">
    <h1
      class="text-3xl lg:text-5xl font-bold mt-16 leading-15 text-gray-800 dark:text-black pb-4 text-center"
    >
      Board of Directors
    </h1>
    <div
      class="w-full grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md bg-gray-100 p-4"
    >
      <div class="flex flex-col" *ngFor="let director of boardOfDirectors">
        <img
          class="rounded-lg shadow-lg h-full"
          [src]="director.image"
          alt=""
        />
        <h2 class="mt-4 font-bold text-xl text-gray-700">
          {{ director.name }}
        </h2>
        <h3 class="font-semibold text-ms text-gray-600">
          {{ director.role }}
        </h3>
      </div>
    </div>
  </div>
</div>
