<main class="bg-gray-50 flex flex-col min-h-screen">
  <app-nav *ngIf="showNavbar"></app-nav>
  <div class="flex-grow" [ngClass]="{ 'pb-40 pt-10 px-11': showNavbar }">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <ng-container *ngIf="toastService.toasts$ | async as toasts">
    <div class="fixed bottom-4 right-4 flex flex-col-reverse">
      <app-toast
        *ngFor="let toast of toasts; let i = index"
        [toastMessage]="toast.message"
        [type]="toast.type"
        class="my-2"
      ></app-toast>
    </div>
  </ng-container>
</main>
