<div class="container">
  <app-navi></app-navi>
<router-outlet></router-outlet>
</div>
<section id="welcome">
  <div class="back-img"></div>
    <div class="overlay"></div>

  <nav class="nav-bar">
    <ul>
      
      <li><a href="#welcome">Welcome</a></li>
      <li><a href="#buy-or-sell">Buy or Sell</a></li>
      <li><a href="#business-directory">Business Directory</a></li>
 
    </ul>
  </nav>
  
  <div class="text">
    <h2> Welcome to Uptown Jackson</h2>
    <button class="learn-more">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text">Create an Account</span>
    </button>
  </div>
</section>

<section id="buy-or-sell">
    <div class="second-img"></div>
    <div class="overlay"></div>

   <div class="text">
    <h2>Buy or Sell</h2>
    <p>Are you interested in buying or listing your business today? Click here to learn more</p>
    <button class="learn-more">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text">Learn More</span>
    </button>
  </div>
</section>
<section id="business-directory">
    <div class="third-img"></div>
    <div class="overlay"></div>

   <div class="text">
    <h2>Business Directory</h2>
    <p>Click here to find businesses located in Uptown Jackson!</p>
    <div id="container">
      <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Explore</span>
      </button>
    </div>
  </div>

</section>