/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  #welcome, #buy-or-sell, #business-directory {
    height: 100vh;
    width: 100%;
    position: relative;
  }

  #welcome .back-img {
    width: 100%;
    height: 100%;
    background-image: url("https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/326555142_490248359945032_7861899996426420084_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=zLOuWuYV9q0AX96WzLw&_nc_ht=scontent-ord5-2.xx&oh=00_AfDIpdx5l5UeWjHXgy0FvycA9njaCMdhD4AF5_4wj48vMQ&oe=6454B66C");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
}


.overlay {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(70, 69, 69);
    opacity: 0.35;
  }

  #welcome .nav-bar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
  }

  .nav-bar ul {
    padding: 20px;
    text-align: center;
  }

  .nav-bar ul li {
    display: inline-block;
    padding: 0 14px;
    font-family: helvetica;
    font-size: 1.4rem;
  }

  .nav-bar ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }

  .nav-bar ul li:hover a {
      color: white;
    }

    #buy-or-sell .second-img {
        width: 100%;
        height: 100%;
        background-image: url("https://scontent-ord5-1.xx.fbcdn.net/v/t39.30808-6/279889834_5048106708613436_2142232795810144282_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=g9i5_VtfrD0AX9YFXBm&_nc_ht=scontent-ord5-1.xx&oh=00_AfBt83bRBUJsqGFRWQoPJ1dXprXhdDOfr7NUPMe4MCr8nQ&oe=6455B3CD");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 1;
    }

    #business-directory .third-img {
        width: 100%;
        height: 100%;
        background-image: url("https://scontent-ord5-1.xx.fbcdn.net/v/t39.30808-6/316296948_672739154509221_2282108460696777298_n.jpg?stp=cp6_dst-jpg&_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=WHnn4YsXmZYAX_XN50z&_nc_ht=scontent-ord5-1.xx&oh=00_AfDcF2bmpQep0UZxjd21_WK2mSk4J3ZKK--nRvvx7iRd6w&oe=64554858");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: 1;
    }
    h2{
        font-size: 5rem;

    }
   .text {
    font-size: 2rem;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    height:    100%;
    width: 100%;
   }
   */
  /* #welcome .title, #buy-or-sell .title, #business-directory .title .title {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #welcome .title h2, #buy-or-sell .title h2, #business-directory .title h2 .title h2 {
    color: white;
    font-family: helvetica;
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 2px;
  } */


  /* .back-img, .second-img, .third-img, .fourth-img {
    background-attachment: fixed;
  }

@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: #f3f8fa;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fbfbfd;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }

  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
} */


