<h1>Uptown Jackson Rent or Buy</h1>

<div>
<button routerLink="/create-building" >Create Listing</button>
</div>

<hr>
 <div class="row" *ngFor="let building of buildings$ | async">
<img src={{building.image_url}} class="resize" alt="nice building">
<div class="col" >
  <p>Address:  {{ building.building_address }}</p>
  <p>Contact Name: {{building.building_contact_name}}</p>
  <p>Contact Email: {{building.building_contact_email}}</p>
  <p>Square Footage: {{building.square_footage}}</p>

  <a routerLink="/building-detail/:id">More Detail</a>
  <a routerLink="/edit-building" class="button edit">Edit</a>
  <a class="button delete">Delete</a>
</div>
